/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}



/*
  ========================================
  Custom styles
  ========================================
*/

.tweetgrid {
  /*border: 2px  #63ABBA solid;
  display: grid;
  grid-template-columns: 1fr 6fr 2fr;
  grid-gap: 10px 15px;
  margin: 50px;*/
  width: 100%;


}

.tweets {
  margin: 20px;
  min-width: 45%;
  max-width: 80%;
  display: inline-block;
  text-align: left;
  /*grid-column: 2 / 3;*/
}

.tweet {
  border: 1px solid rgba(248, 239, 231, .3);;
  box-sizing: border-box;
}

.time {
  background: #63ABBA;
  color: #F8EFE7;
  font-size: 12px;
  text-align: right;
  line-height: 3;
  margin-bottom: 10px


}

body {
  background: #63ABBA;
  color: #FFFFFF;
  font: 400 18px Arial, sans-serif;
  width: minmax(100px, 200px);
  text-align: center;
}

h1 {
  background: #63ABBA;
  color: #F8EFE7;
  font: 400 24px Arial, sans-serif;
  text-align: center;
  margin: 30px;

}

.postbutton {

  margin: 30px;
  background: #F8EFE7;
  color: #63ABBA;
  font: 400 12px Arial, sans-serif;


}

#loadtweets {
  background: #F8EFE7;
  color: #63ABBA;
  font: 400 16px Arial, sans-serif;
}

.divcenter {
  background: #63ABBA;
  color: #F8EFE7;
  text-align: center;
}

